<h2>Datos Ordinales</h2>

<B>Si tiene orden logico o jerarquico.</B>
<p>Pero la distancia entre las categorias no necesariamente es constante</p>
<P><b>Ejemplos</b>: Nivel Educativo, Talla de ropa, Satisfaccion, Calificacion Crediticia.</P>
<p>Para estos datos podemos usar <b>LabelEncoder</b> o <b>OrdinalEncoder</b> si el modelo puede interpreta orden.</p>

In [7]:
import pandas as pd
import numpy as np

categorias_servicio=['Muy insatisfecho','Insatisfecho','Neutral','Satisfecho','Muy satisfecho',]

categorias_calidad=['Mala','Buena','Muy Buena','Excelente']

encuesta={'servicio':['Muy insatisfecho','Insatisfecho','Neutral','Satisfecho','Muy satisfecho','Muy insatisfecho'],
          'alimentos':['Mala','Buena','Muy Buena','Excelente','Mala','Buena']}
#0: Cliente esporadico   1:Cliente frecuente
tipo_cliente=[0,0,1,1,0,1]

In [18]:
datos=pd.DataFrame(encuesta)
datos

           servicio  alimentos
0  Muy insatisfecho       Mala
1      Insatisfecho      Buena
2           Neutral  Muy Buena
3        Satisfecho  Excelente
4    Muy satisfecho       Mala
5  Muy insatisfecho      Buena

<h3>Codificador Ordinal</h3>

In [23]:
from sklearn.preprocessing import OrdinalEncoder
#Creamos y ajustamos el encoder
codificador=OrdinalEncoder(categories=[categorias_servicio,categorias_calidad])
datos_encoded=codificador.fit_transform(datos)
#Convertimos el resultado en un dataframe
datos_encoded=pd.DataFrame(datos_encoded,columns=datos.columns)
datos_encoded

   servicio  alimentos
0       0.0        0.0
1       1.0        1.0
2       2.0        2.0
3       3.0        3.0
4       4.0        0.0
5       0.0        1.0

In [31]:
codificador.categories_

[array(['Muy insatisfecho', 'Insatisfecho', 'Neutral', 'Satisfecho',
        'Muy satisfecho'], dtype=object),
 array(['Mala', 'Buena', 'Muy Buena', 'Excelente'], dtype=object)]

In [27]:
print(datos_encoded)

   servicio  alimentos
0       0.0        0.0
1       1.0        1.0
2       2.0        2.0
3       3.0        3.0
4       4.0        0.0
5       0.0        1.0

In [30]:
print(codificador.categories_)

[array(['Muy insatisfecho', 'Insatisfecho', 'Neutral', 'Satisfecho',
       'Muy satisfecho'], dtype=object), array(['Mala', 'Buena', 'Muy Buena', 'Excelente'], dtype=object)]